.quiz-options {
  margin: 1em;
}

.svg-equalizer {
  margin: 0.5em;
}

.svg-equalizer-clickable {
  border: 1px solid #808080;
  border-radius: 3px;
}

.svg-equalizer-clickable:hover {
  border-color: #faa123;
}
