.quiz-options {
  margin: 1em;
}

object {
  display: inline-block;
}

.svg-equalizer {
  margin: 0.5em;
  border-radius: 3px;
  border: 2px solid transparent;
  padding: 4px;
}

.svg-equalizer-correct {
  border-color: #78cc78;
}

.svg-equalizer-incorrect {
  border-color: #f17a77;
}

.svg-equalizer-clickable {
  border-color: #808080;
}

.svg-equalizer-clickable:hover {
  border-color: #faa123;
}
